@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Базовые стили */
@layer base {
  * {
    border-color: var(--color-gray-200);
  }
  
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
